.text-purple{
 color: #333333
}
.p-font-weight{
  font-weight: 500;
}
.p-20{
  font-size: 24px;
}
p{
  font-size: 18px;;
}
.btn-purple{
  background-color: #191341;
  color: #fff;
  border-radius: 5px;
}
.img-carousel{
  height: 300px!important;
}
.carousel-indicators li{
  border-radius: 100%;
  width: 8px;
  height: 8px;
}

.hero {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  position: relative;
}

.hero::before {
  background-image: url(/img/explore.png);
  /* background-size: cover */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  ;
  /* background-repeat: no-repeat; */
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: %;
  z-index: -2;
  opacity: 0.4;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.hero-message {
  color: #fff;
  text-shadow: #343a40 2px 2px;
  min-width: 100%;
  min-height: 12em;
  position: relative;
}

@media(min-width:1024px) {
  .hero-message {
    min-width: 50%;
    min-height: 12em;
  }

  .hero-message::before {
    margin-left: 25%;
    min-width: 50%;
    min-height: 12em;
  }
}

.hero::after {
  background: rgba(25, 19, 65, 0.6);
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.4;
}

.hero-title,
.hero-sub-title {
  width: 100%;
  display: block;
  text-align: center;
}

.hero-title {
  margin: 3% 0;
  text-transform: uppercase;
}